<form class="multiselect-form" [formGroup]="categoriesForm" (ngSubmit)="onSubmit(categoriesForm.value)">
  <h3>Productgroep</h3>
  <!-- Search box -->
  <bol-search-box
    (searchTermIntroduced)="onSearchTermIntroduced($event)"
    customCssClasses="multiselect-form--search"
    placeholder="Zoek op..."></bol-search-box>
  <ul class="multiselect-list" bolScrollTracker (scrollingFinished)="onScrollingFinished($event)">
    <!-- Preloader -->
    <li class="multiselect-form--preloader" *ngIf="formCategories.controls.length === 0">
      <img src="assets/ajax-loader.gif" alt=""/>
    </li>
    <li formArrayName="categories" *ngFor="let category of formCategories.controls; let i = index; trackBy: categoryId" class="multiselect-list--option">
        <input id="{{ i }}" type="checkbox" [formControlName]="i" (change)="onCheckChange($event)"/>
        <label for="{{ i }}">{{ categories[i].name }}</label>
    </li>
  </ul>
  <button class="btn-primary--large" type="submit">Toepassen</button>
</form>
